name: Pruebas Automatizadas

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ 'microservicio-adn-val', 'microservicio-stats', 'microservicio-usuarios' ] # Reemplaza con los nombres reales de tus módulos

      name: Test ${{ matrix.module }}

    steps:
      - uses: actions/checkout@v3

      - name: Configurar JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Otorgar permisos de ejecución para gradlew
        run: chmod +x ./gradlew

      - name: Ejecutar pruebas Gradle
        run: ./gradlew test 
